<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Javascript Closures</h1>
        Link: <a href="https://cgi.cse.unsw.edu.au/~cs6080/23T3/content/lectures/javascript-closures">
            https://cgi.cse.unsw.edu.au/~cs6080/23T3/content/lectures/javascript-closures</a>
    </div>

    <button id="createTimer">Create Timer!</button>
    <div id="timers">

    </div>
    <script type=" text/javascript" src="script.js"></script>
</body>

</html>