#container {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        "header header header"
        "sidebar main main2"
        "footer footer footer";
    gap: 5px;
    /* justify-items: start | end |center | stretch; */
}

.header {
    grid-area: header;
    background-color: red;
}

.sidebar {
    grid-area: sidebar;
    background-color: green;
}

.main {
    grid-area: main;
    background-color: blue;
}

.main2 {
    grid-area: main2;
    background-color: purple;
}


.footer {
    grid-area: footer;
    background-color: orange;
}