.size {
    font-size: 2em;
}

.font {
    font-family: "Comic Sans MS";
}

.color {
    color: red;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.image {
    width: 100px;
    height: 100px;
    border: 5px solid blue;
    background-image: url(https://imgv3.fotor.com/images/blog-cover-image/part-blurry-image.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}